.background {
  position: fixed;
  z-index: 0;
}

.header-main {
  position: relative;
  z-index: 100;
}

.position-absolute {
  position: absolute;
}

.padding-top-50 {
  padding-top: 50%;
}

.vc_separator.line-short .vc_sep_holder .vc_sep_line {
  width: 40%;
}
